
    .newsandevents{box-sizing:border-box}

    /* Slideshow container */
    .newsandevents .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }

    /* Hide the images by default */
    .newsandevents .mySlides {
      display: none;
    }

    /* Next & previous buttons */
    .newsandevents .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white !important;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }

    /* Position the "next button" to the right */
    .newsandevents .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .newsandevents .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }

    /* Caption text */
    .newsandevents .text {
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
    }

    .allEvents {
      height: 60px;
      font-size: 25px;
    }

    .allEvents img {
      height: 40px;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .allEvents a {
      padding-top: 14px;
      position: absolute;
    }

    /* Number text (1/3 etc) */
    .newsandevents .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }

    /* The dots/bullets/indicators */
    .newsandevents .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .newsandevents .active, .newsandevents .dot:hover {
      background-color: #717171;
    }

    .block_newsandevents .card-text {
    margin: 0 !important;
    }

    .block_newsandevents .card-body {
    padding: 0 !important;
    }

    /* Fading animation */
    .newsandevents .fade {
      opacity: 1;
      -webkit-animation-name: news-fade;
      -webkit-animation-duration: 1.5s;
      animation-name: news-fade;
      animation-duration: 1.5s;
    }

    @-webkit-keyframes news-fade {
      from {opacity: .4}
      to {opacity: 1}
    }

    @keyframes news-fade {
      from {opacity: .4}
      to {opacity: 1}
    }
